<!DOCTYPE html>

<html>
    <head>
        <title>About</title>
        <link rel="icon" href="/img/weather.png">
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <p>This site was created by Chetna Tyagi. It uses data from mapbox.com and darksky.net</p>
            {{!-- <h1>{{title}}</h1> --}}
            <!--adding up an image-->
            <img class="portrait" src="/img/106006520-cute-robot-icon.jpg">
            {{!-- <p>Created by: {{name}}</p> --}}
            </div>
        {{>footer}}
    </body>
</html>